<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit exercise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex col-12 justify-content-between">
            <h3 class="text-white">Don't Stop  {{user.first_name}} {{user.last_name}}!!!</h1>
            <a href="/myexercises" class="btn btn-info">My exercises</a>
            <a href="/db" class="btn btn-info">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>

    </nav>
    <form action="/update/exercise" method="POST" class="col-8 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-info d-flex justify-content-center">Edit exercise</h2>




        <div class="d-flex justify-content-center col-12">
            <div class="col-4">
                <div class="form-group">
                    <label for="exercise">Exercise Name: {{edit.exercise}}</label>
                    <input type="text" name="exercise" class="form-control">
                </div>
                <div class="form-group">
                    <label for="date">Date: {{edit.date}}</label>
                    <input type="date" name="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="weight">Weight(lbs): {{edit.weight}}</label>
                    <input type="text" name="weight" class="form-control">
                </div>
                <div class="form-group">
                    <label for="sets">Sets: {{edit.sets}}</label>
                    <input type="number" name="sets" class="form-control">
                </div>
                <div class="form-group">
                    <label for="reps">Reps: {{edit.reps}}</label>
                    <input type="number" name="reps" class="form-control">
                </div>
                <div class="form-group">
                    <label for="time">Time(mins): {{edit.time}}</label>
                    <input type="number" name="time" class="form-control">
                </div>
                <div class="form-group">
                    <label for="speed">Speed: {{edit.speed}}</label>
                    <input type="number" name="speed" class="form-control">
                </div>
                <div class="form-group">
                    <label for="level">Level: {{edit.level}}</label>
                    <input type="number" name="level" class="form-control">
                </div>
                <input type="submit" value="Update" class="btn btn-info">
                
            </div>
        </div>
    </form>
</body>
</html>