<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My exercises</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
        <div>
            <h3 class="text-white">Dont Stop,   {{user.first_name}} {{user.last_name}}!!!</h1></div>
        <div class="d-flex justify-content-around">
            <a href="/db" class="btn btn-info">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>

    </nav>


<P class="font-weight-bold">My exercises:</P>

{% for exercise in exercise_list %}              
    {% if exercise.user_id == session.user_id %}
        <li>{{exercise.exercise}}    {{exercise.date}}
        <a href="/exercise/{{exercise.id}}">Show</a>
        <a href="/edit/exercise/{{exercise.id}}">Edit</a>
        <a href="/destroy/exercise/{{exercise.id}}">Delete</a></li>
    {% endif %}
{% endfor %}




</body>
</html>